body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

/* 로고 아래의 선 */
.line {
  margin: 0 auto;
  border-bottom: 1.5px solid #1e264d;
}

.logo {
  width: 10%;
  height: 10%;
  margin: 20px auto;
}

/* 물음표 버튼 */
.questionMark {
  margin-right: 5px;
  background: #1e90ff;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 29px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

/* form 태그 */
.box {
  width: 1000px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center;
}

.box h1 {
  color: #1e264d;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .box h1 {
    font: 1.5rem;
  }

  .box {
    /* background-color: #1e90ff; */
    width: 100%;
  }

  div.settings label {
    font-size: 1.5rem;
  }

  .box input[type="text"],
  .box input[type="number"] {
    padding: 12px 12px;
  }
}

/* number input 화살표 없애기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ID, Email, 나이 입력칸  */
.box input[type="text"],
.box input[type="number"] {
  display: inline-block;
  border: 0;
  background: none;
  margin: 10px 5px;
  text-align: center;
  border: 2px solid #d9d9d9;
  padding: 16px 12px;
  width: 280px;
  outline: none;
  color: #1e264d;
  border-radius: 24px;
}

.box input[type="submit"] {
  border: 0;
  background: #1e264d;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 13px 33px;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.25s;
  cursor: pointer;
  font-size: 1rem;
}

/* .box input[type="submit"]:hover {
  background: #1e90ff;
} */

/* input[type="radio"] {
} */
.wrapper {
  width: 370px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #1e90ff;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
  text-align: left;
}

.id_description {
  top: 22.5%;
  left: 30%;
  position: absolute;
  text-align: center;
  color: #5f5f5f;
}

.id_example1 {
  font-size: 1px;
}

.id_example2 {
  color: #5c5c5c;
  margin-left: 10px;
  line-height: 25px;
  display: inline;
}

.id_example3 {
  color: #1e90ff;
  text-decoration: underline;
  display: inline;
}

/*경고 메세지*/
small {
  color: #464646;
  display: inline-block;
  font-size: 1rem;
  margin: 5px auto;
  text-align: center;
  margin-left: 120px;
}

/* 중간 점 선 */
.dashed_line {
  margin: 25px auto;
  border-bottom: 4px dashed #1e264d;
}

div.settings {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  /* background-color: aqua; */
}

div.settings label {
  text-align: right;
  display: inline-block;
  width: 150px;
  margin: auto 0;
  text-align: right;
  font-size: 20px;
}

div.settings label:after {
  content: "";
}

.gender {
  margin-right: 10px;
}

.inputSection {
  max-width: 500px;
  margin: 0 auto;
}

.radio_box {
  padding: 15px 10px;
}

.radio_box input[type="radio"] {
  display: none;
}

.radio_box input[type="radio"]+label {
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 90px;
  border: 1px solid #333;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  /* margin-right: 20px; */
}

.radio_box input[type="radio"]+label {
  background-color: #fff;
  color: #333;
}

.radio_box input[type="radio"]:checked+label {
  background-color: #333;
  color: #fff;
}