body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #385a86;
}

p {
  font-size: 1rem;
  color: #ffffff;
  display: inline;
}
/* 물음표 버튼 */
.questionMark {
  margin-left: 10px;
  display: inline-block;
  background: #1e90ff;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.box {
  width: 800px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(25, 25, 25);
  text-align: center;

  @media screen and(max-width: 960px) {
    width: 1vw;
  }
}
.box h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}
/* number input 화살표 없애기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.box input[type="text"],
.box input[type="number"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
input[type="number"]:focus {
  width: 310px;
  border-color: #1e90ff;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #1e90ff;
  padding: 13px 33px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1rem;
}
.box input[type="submit"]:hover {
  background: #1e90ff;
}

.id_description {
  width: 250px;
  height: 24px;
  top: 25.5%;
  left: 64%;
  position: absolute;
  background-color: #ffffff;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
}
.id_example1 {
  color: #000000;
  line-height: 25px;
}

.id_example2 {
  color: #1e90ff;
  text-decoration: underline;
}

.endingBox {
  width: 400px;
  height: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(66, 66, 66);
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
}
/* X 버튼 */
.closeBtn {
  float: right;
  text-align: center;
  cursor: pointer;
}

/* .closeBtn:after {
  content: "\00d7";
  font-size: 40pt;
  line-height: 25px;
  margin-top: 100px;
} */

/*경고 메세지*/
small {
  color: #fff763;
  display: block;
  font-size: 15px;
  margin: 10px;
}
